<div class="simple-math-container">
    <h1>Level {{ level }}</h1>
    <hr>
    <div class="puzzle-question">
        <div class="question">
            {{ question }} </div>
        <div class="keyboard-container">
            <input type="text" [(ngModel)]="answer" readonly>
            <div class="keyboard">
                @for(digit of keypadDigits; track digit){
                <button class="key" (click)="addToAnswer(digit)">{{ digit }}</button>
                }
            </div>
        </div>
        <button (click)="checkAnswer()" class="check-button">Submit</button>
        <button class="key X" (click)="clearAnswer()">X</button>
    </div>
    <div>
        @for(operator of operators; track operator){
        <button class="operator-button" [ngClass]="{'selected': isOperatorSelected(operator)}"
            (click)="toggleOperator(operator)">
            {{ operator }}
        </button>
        }
    </div>

</div>