<div class="simple-math-container">
    <h1>Score: {{ score }}</h1>
    <hr>
    <div class="puzzle-question">
        <div class="question">
            {{ question }}
            <input type="text" class="input-text" [(ngModel)]="answer" readonly>
        </div>
        <div class="keyboard-container">
            <div class="submit-buttons">
                <button (click)="checkAnswer()" class="check-button">Submit</button>
                <button class="key X" (click)="clearAnswer()">X</button>
            </div>
            <div class="keyboard">
                @for(digit of keypadDigits; track digit){
                <button class="key" (click)="addToAnswer(digit)">{{ digit }}</button>
                }
            </div>
        </div>
    </div>
    <div>
        @for(operator of operators; track operator){
        <button class="operator-button" [ngClass]="{'selected': isOperatorSelected(operator)}"
            (click)="toggleOperator(operator)">
            {{ operator }}
        </button>
        }
    </div>
    <button class="operator-button" (click)="skipLevel()">Overslaan</button>
</div>