<div class="main-container">
    <div class="score">Score: {{ score }}</div>
    <div class="clock-container">
        <app-clock [hour]="hour" [minute]="minute"></app-clock>
    </div>
    <div class="digital-clock">
        <p>{{ formatTime(randomHour) }}:{{ formatTime(randomMinute) }}</p>
    </div>
    <div class="options-container">
        <button *ngFor="let option of options" (click)="checkAnswer(option)">
            {{ formatTimeInDutch(option.hour,
            option.minute) }}
        </button>
    </div>
    <div class="settings-container">
        <button class="settings" (click)="resetClock()">Reset</button>
    </div>
</div>