<div class="container">
    <div class="header-container">
        <a href="/" class="title">SupaCoolaPuzzleGame</a>
        <div class="timer">
            <app-timer></app-timer>
        </div>
    </div>
    <div class="main-container">
        <div class="puzzle-container">
            @if(gameType == 'simple-math'){
            <app-simple-math></app-simple-math>
            }
            @if(gameType == 'typing-game'){
            <app-typing-game></app-typing-game>
            }
            @if(gameType == 'learn-clock'){
            <app-learn-clock></app-learn-clock>
            }
            @if(gameType == 'letter-finder'){
            <app-letter-finder></app-letter-finder>
            }
        </div>
    </div>
</div>