<div class="container">
    <div class="header-container">
        <div class="title">SupaCoolaPuzzleGame</div>
        <div class="timer">
            <app-timer></app-timer>
        </div>
    </div>
    <div class="main-container">
        <div class="puzzle-container">
            <app-simple-math></app-simple-math>
        </div>
        <div class="menu-container">
            <div class="buttons-container">
                <div class="menu-buttons"><button>button1</button><button>button2</button><button>button3</button></div>
            </div>
            <div class="selection-container">
                <div *ngFor="let number of numbers">
                    <button class="levelButton">{{ number }}</button>
                </div>
            </div>
        </div>
    </div>
</div>