.menu-buttons {
    background-color: palevioletred;
    border: none;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 32px;
}

.menu-buttons:hover {
    background-color: rgb(204, 88, 127);
}