.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
}

.grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(10, 1fr); // Adjust the number of columns as needed
  }
  
  .cell {
    width: 50px; // Adjust width of cell as needed
    height: 50px; // Adjust height of cell as needed
    border: 1px solid black; // Add border to cell
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(51, 97, 82);
    background-color:gold;
  }
  
.cell:hover {
    background-color: #81D4FA; /* Highlight cell on hover */
  }

  .score {
    margin-top: 20px;
    font-size: 42px;
    font-weight: bold;
  }
